/* header {
    height: 90vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  
  body {
    background-color: #000000;
    font-family: 'Pacifico', cursive;
  } */

  .headCont {
  min-height: 100vh;
  padding: clamp(1rem, 5vw, 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
  @media screen and (max-width: 600px) {
   .headCont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }

  }
  @media screen and (max-width: 768px) {
  .headCont {
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }
  .homec {
    margin-top: 2rem;
  }
}

  .neontext {
    animation: neon 3s infinite alternate;
    /* text-align: center; */
    font-size: 2rem;
    color: #fff;
    display: flex;
  }
  @media screen and (max-width: 600px) {
    .neontext {
      font-size: 1.4rem;
    }
  }
  .homec{
    margin-top: 4em;
  }
  @media screen and (max-width: 600px) {
    .homec {
      width: 12em !important;
    }
  }
  @keyframes neon {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow: 
      #FFFFFF 0 0 12px,
      #A91079 0 0 25px,
      #A91079 0 0 35px,
      #A91079 0 0 45px;
    }
  
    20%, 24%, 55% {
      text-shadow: none;
    }
  }
  
  