.timelineContainer {
  background: black;
  padding: 8em 40px;
  color: white;
}

.title {
  text-align: center;
  color: deeppink;
  font-size: 2.2rem;
  margin-bottom: 40px;
  font-weight: bold;
}

.timeline {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 20px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 4px;
  background: deeppink;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Each item */
.timelineItem {
  width: 50%;
  position: relative;
  padding: 20px 40px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowBtn {
  background: none;
  border: none;
  color: deeppink;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrowBtn:hover {
  transform: scale(1.2);
}

.descList {
  margin-top: 12px;
  padding-left: 20px;
}


.left {
  left: 0;
  text-align: left;
}

.right {
  left: 50%;
  text-align: left;
}

/* Circle node */
.node {
  position: absolute;
  top: 25px;
  width: 20px;
  height: 20px;
  background: deeppink;
  border-radius: 50%;
  box-shadow: 0 0 10px deeppink, 0 0 20px deeppink;
  z-index: 10;
}

.left .node {
  right: -10px;
}

.right .node {
  left: -10px;
}

/* Content Cards */
.content {
  background: #111;
  border: 1px solid deeppink;
  padding: 18px 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px deeppink;
}

.company {
  font-size: 1.4rem;
  margin: 0;
  color: deeppink;
}

.position {
  font-weight: bold;
  margin: 5px 0;
}

.duration {
  font-style: italic;
  margin-bottom: 8px;
  opacity: 0.9;
}

.descList li {
  margin-bottom: 6px;
}

/* Responsive */
@media (max-width: 768px) {
  .timeline::before {
    left: 10px;
  }

  .timelineItem {
    width: 100%;
    padding-left: 40px;
    text-align: left;
  }

  .left, .right {
    left: 0;
    
  }

  .left .node, .right .node {
    left: 0;
    transform: translateX(-50%);
  }
}

.projectList {
  margin-top: 10px;
}

.projectItem {
  background: #1a1a1a;
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid deeppink;
  box-shadow: 0 0 8px deeppink;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 600;
  color: deeppink;
}

.projectDescription {
  margin-top: 8px;
  line-height: 1.5;
  opacity: 0.9;
}

